*{
    margin: 0px;
    padding: 0px;
 }
  
  body{
    background-image: url('https://lh3.googleusercontent.com/-QEYT2a1VA-s/V9IhCZNMfKI/AAAAAAAAAuY/kuuJ3LD4L3QG_0EwaNFhIalJPOD-C7opQCJoC/w1600-h900/black%2Band%2Bgreen%2Bshards.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  

  img {
    height: 125px;
  }
  
  .fa{
    cursor: pointer;
  }
  
  .header{
    width: 101%;
    overflow: auto;
    background-color: #1ba6b8d2;
    color: #00a000;
    clear: both;
    padding: 12px 50px;
    box-sizing: border-box; 
  
  }
  
  .heading .tab{
    float:left;
  } 


  .item{
    position: relative;
    float: left;
    margin: 1%;
    border: 2px solid #369cb1;
    width: 14%;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    box-sizing: border-box;
    border-radius: 8px;
  }
  
  .profil{
    text-decoration: none;
    margin-right: 20px;
  }
  .profil{                                                                  
    color: #000;
    text-decoration: none;
    padding: 9px 25px;   
    font-weight: bold;
    border-radius: 6px;
    transition: 0.5s;
    padding: 20px;
  } 
  .profil{
    text-decoration: none;
    font-size: 20px;
  }

  .kontakss{
    color: #000;
    text-decoration: none;
    padding: 9px 25px;   
    font-weight: bold;
    border-radius: 6px;
    transition: 0.5s;
    
  } 
  .kontakss{
    text-decoration: none;
    font-size: 20px;
    padding: 20px;
    
  }
  .onas{
    text-decoration: none;
    margin-right: 15px;
    font-size: 20px;
  }
  .onas{
    color: #000;
    text-decoration: none;
    padding: 9px 25px;   
    font-weight: bold;
    border-radius: 6px;
    padding: 20px;

  } 
  .onas{
    text-decoration: none;
    font-size: 20px;
  }
  .onas{
    float: right;
  }
  .kontakss{
    float:right;
  } 
  .profil{
    float:right;
  } 
  span{
    color: #230145;
  }
  span2{
    color: rgba(144, 0, 255, 0.704); 
  }
  .heading{
    font-size: 4px;
    text-decoration: none;
  }